<% content_for :head do %>
  <meta name="title" content="Careers At | Transparental Solutions - IT Services and Consulting"/>
  <meta name="description" content="Explore exciting job opportunities at Transparental Solutions! Join a dynamic IT company where innovation meets growth. Apply today to be part of our talented team."/>
<% end %>
<div class="offwrap"></div>
<section>
  <!-- Main content Start -->
  <div class="main-content">
    <!--Full width header Start-->
      <%= render "header" %>
    <!--Full width header End-->
  </div>  
</section>
<section class="bg-light loaded" style="height:60vh">
  <div class="container">
  <h2 class="pt-5"> Careers </h2>
  <h6> coming soon......</h6>
  </div>
</section>
<%= render "footer" %>