<% content_for :head do %>
  <meta name="title" content="Jobs"/>
  <meta name="description" content="Join Transparental Solutions. We are seeking a highly motivated individual."/>
<% end %>
<div class="offwrap"></div>
<section>
	<!-- Main content Start -->
	<div class="main-content">
		<!--Full width header Start-->
		<%= render "header" %>
		<!--Full width header End-->
	</div>  
</section>
<section class="bg-light loaded" style="height:60vh">
	<div class="container">
	<h2 class="pt-5"> Job Posting </h2>
	<h6> coming soon......</h6>
	</div>
</section>
<%= render "footer" %>