<% content_for :head do %>
  <meta name="title" content="Services | Transparental Solutions - IT Services and Consulting"/>
  <meta name="description" content="Transparental Solutions offers custom software solutions, IT staffing services, and managed IT services to help businesses thrive with innovative technology."/>
<% end %>
<div class="offwrap"></div>
<section>
  <!-- Main content Start -->
  <div class="main-content">
    <!--Full width header Start-->
      <%= render "header" %>
    <!--Full width header End-->
  </div>  
</section>
<section>
  <div class="rs-breadcrumbs custom-image" id="custom-software-solutions" style="scroll-margin-top: 50px ;">
    <div class="container">
      <div class="breadcrumbs-inner">
        <div>
          <h1 class="page-title">
            Custom Software Solutions
            <span class="watermark">Services</span>
          </h1>
          <span class="sub-text"> Your website, your rules. Elevate user engagement and business performance with our custom software solutions, designed exclusively for your online platform.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class=" bg-light"  id="it-staffing-and-services"  style="scroll-margin-top: 50px ;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mt-5 d-flex-center" >
        <h3 style="color: #ff9700"> IT Staffing &amp; Services</h3>
        <h6> Empower your innovation with our IT staffing and services. Where expertise meets ambition, extraordinary outcomes unfold.</h6>
      </div>
      <div class="col-lg-8 col-md-6 my-5">
        <%= image_tag("IT_Staffing.png", alt: "IT Staffing")%>
      </div>
    </div>
  </div>
</div>
<div class="container mb-30" id="managed-it-services"  style="scroll-margin-top: 50px ;">
  <div class="row">
    <div class="col-md-6 mt-5 ">
      <%= image_tag("It-Solutions.png", alt: "It Solutions")%>
    </div>
      <div class="col-md-6 d-flex-center">
        <h3 class="mt-5" style="color: #ff9700"> Managed IT Services</h3>
        <h6>Your success, our priority. Experience worry-free IT with our Managed Services, where we handle the technology, and you focus on growing your business. </h6>
      </div>
  </div>
</div>
<%= render "footer" %>