@media only screen and (max-width: 1024px) {
  .pt-100 {padding-top:50px;}
  .pb-100 {padding-bottom:50px;}
  .container, .container-lg, .container-md, .container-sm {width:95% !important;}
  .rs-testimonial.main-home .testi-image img {position:relative; max-width:100%; right:0;}
  .rs-footer.style1 .footer-bottom .copy-right-menu li {padding:0px 10px 0 15px;}
  .rs-footer.style1 .footer-bottom .copyright p {font-size:12px;}
  .sec-title .title {font-size:25px;}
  .sec-title .sub-text.big {font-size:14px;}
  .rs-footer.style1 .footer-top .address-widget li .desc {word-break:break-all;}
  .rs-contact.main-home .contact-icons-style .contact-item .contact-icon img {width:40px; height:40px;}
  }
  
  @media only screen and (max-width: 992px) {
  .hidden-md {display:none !important;}
  .text-lg-end {text-align:unset !important;}
  .gutter-space {padding:50px 0px;}
  .sec-title2 .title {font-size:30px;}
  .rs-process.style1 .process-effects-layer .rs-addon-number .number-part .number-image:after {display:none;}
  .rs-services.chooseus-style .services-item .services-text .title {font-size:17px;}
  .rs-choose.pt-50 {padding-top:0;}
  }
  
  @media only screen and (max-width:768px) {
  .choose-video {display:none;}
  .half-col {width:50%;}
  .y-middle {align-items:self-start; margin-top:40px;}
  .rs-counter.style1 .counter-border-top {margin-top:30px;}
  .rs-project {padding-top:0;}
  .rs-project.style7 .project-item .project-content .project-inner {bottom:100px; opacity:1; visibility:visible;}
  .rs-project.style7 .project-item .project-img:before {opacity:1; visibility:visible; bottom:-3px; height:35%;}
  .rs-project.style7 .project-item .project-content .p-icon {bottom:30px; opacity:1; visibility:visible;}
  .rs-project.style7 .project-item .project-content .p-icon i {width:40px; line-height:40px; height:40px;}
  .rs-project.style7 .project-item .project-content .p-icon {left:10px; bottom:6px;}
  .rs-project.style7 .project-item .project-content .project-inner {left:13px; bottom:48px;}
  .rs-project.style7 .project-item .project-content .project-inner .title a {font-size:15px;}
  .rs-project.style7 .project-item .project-content .project-inner .title {line-height:20px; font-weight:700; margin-bottom:0;}
  .rs-process.style1 .process-effects-layer {background-image:none;}
  .rs-process .btn-part {text-align:left;}
  .rs-footer.style1 .footer-top {padding:32px 0 15px;}
  .footer-bottom .y-middle {margin-top:0;}
  .footer-bottom .y-middle .order-last {margin-top:10px;}
  .rs-footer.style1 .footer-top .footer-title {margin-top:20px;}
  .heroslider .owl-dots {display:none;}
  .counter-area {text-align:left; display:block; width:100%; border:1px solid rgba(0, 0, 0, 0.1); padding:10px; height:100%;}
  .counter-border-top .row {row-gap:20px;}
  }
  
  @media only screen and (max-width:767px) {
  .form-container {width:100% !important;}
  .sec-title2 .first-half {max-width:100%; flex:0 0 100%;}
  .sec-title2 .last-half {max-width:100%; flex:0 0 100%;}
  .we-offer .sec-title2 {display:block !important;}
  .last-half .desc {padding-left:0 !important; margin-top:20px;}
  .py-100 {padding-top:0; padding-bottom:0;}
  .rs-services {margin-top:10px;}
  .half-col {width:100%;}
  .rs-counter.style1 .counter-area .content-part .title {margin:0;}
  .sec-title2, .rs-process .btn-part {text-align:center;}
  .rs-process.pt-100 {padding-top:20px;}
  }
  
  @media only screen and (max-width:580px) {
  .col-xs-6 {width:50%; flex:0 0 50%;}
  .rs-process.style1 .process-effects-layer .rs-addon-number .number-part .number-image {padding:30px; width:110px;}
  .pr-70 {padding-right:0;}
  .rs-testimonial .testi-image {width:50%; margin:0 auto;}
  .rs-testimonial .pl-60 {padding-left:10px;}
  .rs-testimonial.main-home .testi-item .item-content .desc {padding:20px 0px 20px 0px;}
  .rs-contact.main-home .contact-icons-style .contact-item .content-text .title {margin:0;}
  .rs-contact.main-home .contact-icons-style .contact-item {padding:20px;}
  .rs-contact .pr-40 {padding-right:10px;}
  }